<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #073150;">
    <img height="50px" width="50px" alt=" imed-logo" src="..\assets\image\imed-logo.jpg"> &nbsp;

    &nbsp; <a class="navbar-brand" href="\home">Home</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="\admission"> Admission <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="\examination"> Examination </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="\assignment"> Assignment </a>
            </li>

            <!-- <li class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a> -->

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="\course" id="dropdownId" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Course</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">BCA</a>
                    <a class="dropdown-item" href="#">MCA</a>
                    <a class="dropdown-item" href="#">BBA</a>
                    <a class="dropdown-item" href="#">MBA </a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="\login"> Login </a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <button class="btn btn-outline-danger my-2 my-sm-0 logout" type="logout"
                routerLink="/logout">logout</button>
        </form>
        <ul>



        </ul>
    </div>
</nav>