<div class="container">
  <div class="card">
      <div class="card-header bg-dark" style="width: 18rem;" style="text-align:center; color:white">
          <ul class=" card-body list-group list-group-flush">
              <h3 style="text-align: center;"> Time Table </h3> 
              <li class="list-group-item">
                  <p style=" text-align: center;color: orangered;"> MCA SEM-1</p>
                  <angular-file-uploader [config]="afuConfig">
                  </angular-file-uploader>
              </li>
              <li class="list-group-item">
                  <p style=" text-align: center;color: orangered;"> MCA SEM-2</p>
                  <angular-file-uploader [config]="afuConfig">
                  </angular-file-uploader>
              </li><li class="list-group-item">
                  <p style=" text-align: center;color: orangered;"> MCA SEM-3 </p>
                  <angular-file-uploader [config]="afuConfig">
                  </angular-file-uploader>
              </li>
              <li class="list-group-item">
                  <p style=" text-align: center;color: orangered;"> MCA SEM-4</p>
                  <angular-file-uploader [config]="afuConfig">
                  </angular-file-uploader>
              </li>
              <li class="list-group-item">
                  <p style=" text-align: center;color: orangered;"> MCA SEM-5</p>
                  <angular-file-uploader [config]="afuConfig">
                  </angular-file-uploader><br><br>
              </li>
              <li class="list-group-item">
                  <p style=" text-align: center;color: orangered;">  MCA SEM-6</p>
                  <angular-file-uploader [config]="afuConfig">
                  </angular-file-uploader><br><br>
              </li>
          </ul>
      </div>
  </div>
</div>
