<div class="container">
    <div class="card">
        <div class="card-header bg-dark" style="width: 18rem;" style="text-align:center; color:black;">
            <ul class=" card-body bg dark list-group list-group-flush">
                <li class="list-group-item">Online Lecture Assignment<br>
                    <h6 style="text-align: left;"> MCA-I </h6>
                    <ul>
                        <p style=" text-align: left;color: blue;"> C Programming</p>
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.1
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                    <button (click)="download()"> Download</button>
                                </li>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <li class="list-group-item">Assignment No.2
                                        <angular-file-uploader [config]="afuConfig">
                                        </angular-file-uploader>
                                    </li>
                                </div>
                          </div>
                      </div>
                    </ul>
                
            <ul>
                <p style="text-align: left;color:blue;">Computer Organization and Architecture</p>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            <li class="list-group-item">Assignment No.1
                                <angular-file-uploader [config]="afuConfig">
                                </angular-file-uploader>
                            </li>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.2
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                      </div>
                  </div>
                </li>
            </ul>
            <ul>
                <p style="text-align: left;color:blue;"> Discrete Structures</p>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            <li class="list-group-item">Assignment No.1
                                <angular-file-uploader [config]="afuConfig">
                                </angular-file-uploader>
                            </li>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.2
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                      </div>
                  </div>
                </li>
            </ul>
            <ul>
                <p style=" text-align: left;color: blue;"> Management Function </p>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            <li class="list-group-item">Assignment No.1
                                <angular-file-uploader [config]="afuConfig">
                                </angular-file-uploader>
                            </li>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.2
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                      </div>
                  </div>
                </li>
            </ul>
            <ul>
                <p style=" text-align: left;color: blue;"> Database Management Systems </p>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            <li class="list-group-item">Assignment No.1
                                <angular-file-uploader [config]="afuConfig">
                                </angular-file-uploader>
                            </li>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.2
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                      </div>
                  </div>
                </li>
                <ul>
                    <p style=" text-align: left;color: blue;">  C Programming Lab </p>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.1
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <li class="list-group-item">Assignment No.2
                                        <angular-file-uploader [config]="afuConfig">
                                        </angular-file-uploader>
                                    </li>
                                </div>
                          </div>
                      </div>
                    </li>
                </ul>
                <ul>
                    <p style=" text-align: left;color: blue;">Web Supporting Technology </p>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.1
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <li class="list-group-item">Assignment No.2
                                        <angular-file-uploader [config]="afuConfig">
                                        </angular-file-uploader>
                                    </li>
                                </div>
                          </div>
                      </div>
                    </li>
                </ul>
                <ul>
                    <p style=" text-align: left;color: blue;">  Soft Skill </p>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.1
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <li class="list-group-item">Assignment No.2
                                        <angular-file-uploader [config]="afuConfig">
                                        </angular-file-uploader>
                                    </li>
                                </div>
                          </div>
                      </div>
                    </li>
                </ul>
            </ul>
            <ul>
                <p style=" text-align: left;color:blue"> Self Learning </p>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            <li class="list-group-item">Assignment No.1
                                <angular-file-uploader [config]="afuConfig">
                                </angular-file-uploader>
                            </li>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.2
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                      </div>
                  </div>
                </li>
            </ul>
            <ul>
                <p style=" text-align: left;color:blue;"> Database Management Systems</p>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm">
                            <li class="list-group-item">Assignment No.1
                                <angular-file-uploader [config]="afuConfig">
                                </angular-file-uploader>
                            </li>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <li class="list-group-item">Assignment No.2
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </li>
                            </div>
                      </div>
                  </div>
                </li>
            </ul>

            </li>
            </ul>
        </div>
    </div>
</div>



<!-- <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div> -->