<div class="container">
    <div class="card">
        <div class="card-header bg-dark" style="width: 18rem;" style="text-align:center; color:white">
            <ul class=" card-body list-group list-group-flush">
                <h3 style="text-align: center;"> MID TERM </h3> 
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> C Programming</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Computer Organization and Architecture</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li><li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Discrete Structures </p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Management Function</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;">  Database Management Systems</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;">  C Programming Lab</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Web Supporting Technology</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Soft Skill</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Self Learning</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
            </ul>
        </div>
    </div>
</div>
