<div class="container bg-success" >
    <div class="row">
        <div class="col-sm" >
            <div class="card" style="width: 18rem;">
                <a href="/subject">
                <div class="card-body">
                    <h5 class="card-title"> Subject </h5>
                </div>
            </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/timetable">
                    <div class="card-body">
                        <h5 class="card-title">Time Table</h5>
                    
                    </div>
                </a>
            </div>

        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem2assignment">
                <div class="card-body">
                    <h5 class="card-title">Assignment</h5>
                </div>
            </a>   
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem2classtest">
                <div class="card-body">
                    <h5 class="card-title">Class Test</h5>
                </div>
            </a>  
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem2midterm">
                    <div class="card-body">
                        <h5 class="card-title">Mid Term</h5>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem2endterm">
                <div class="card-body">
                    <h5 class="card-title">End Term</h5>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>

