<div class="container">

    <div class="card" style="width: 18rem;">
        <h1> Login </h1>
        <img src="..\assets\image\login-background.jpg" class="card-img-top">
        <div class="card-body">
            User Name: <input type="text" [(ngModel)]="username">
            Password: <input type="password" [(ngModel)]="password">
            <button (click)=handleLogin() class="btn btn-success"> Login </button>
            <div class="alert alert-warning" *ngIf='invalidLogin'> {{ errorMessage }} </div>
        </div>
    </div>

</div>