<div class="container bg-danger"> 
    <div class="card">
      <div class="row row-cols-2 bg-danger">
        <div class="col"><img class="d-block w-100" src="..\assets\image\contact.jpg" alt="Third slide">
        </div>
        <div><h3 style="color: rgb(242, 243, 164);font-family:'Courier New', Courier, monospace;text-align: center;margin-top: 60px;">
         CONTACT DETAILS </h3></div>
       </div>  
<table class="table bg-dark" style="color: blanchedalmond;">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Program</th>
        <th scope="col">Name of Faculty Coordinator</th>
        <th scope="col">Mobile Number</th>
      </tr>
    </thead>
    <tbody class="bg-light" style="color: black;">
      <tr>
        <th scope="row">1</th>
        <td>MBA</td>
        <td>Mr. Uday Desai</td>
        <td> 9881722670</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>MBA(E)</td>
        <td>Mrs. Bharati Yelikar</td>
        <td>9822320209</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>MBA(HR)</td>
        <td>Mrs. Sujata Mulik</td>
        <td>9850443699</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>BBA</td>
        <td>Ms. Pratima Gund </td>
        <td>9766450177</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>MCA</td>
        <td>Mrs. Bharati Yelikar</td>
        <td>9822320209</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>BCA</td>
        <td>Mrs. Sujata Mulik</td>
        <td>9850443699</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

