    /* .foot {
      position: fixed;
        left: 20px;
        bottom: 10px;
        right: 10px;
        width: 95%;
        color: white;
        background-color: #910430;   
        text-align: center;
        height: 70%;
    }
    .fo {
         
          width: 95%;
          color: white;
          background-color: #910430;   
          text-align: center;
          height: 70%;
      }
      .vertical {
        border-right: 3px solid white;
        height: 300px;
      }
      .ver {
        border-right: 3px solid white;
        height: 300px;
      }
      .v {
        border-right: 3px solid white;
        height: 300px;
      } */
