<div class="container bg-danger">
    <div class="card">
        <div class="card-header bg-dark" style="text-align:center; color:yellow;">
            EXAMINATION NOTICE
        </div>
        <div class="row row-cols-2 bg-danger">
        <div class="col"><img class="d-block w-100" src="..\assets\image\exam.jpg" alt="Third slide">
        </div>
        <div><h4 style="color: rgb(242, 243, 164);font-family:'Courier New', Courier, monospace;"> Distance Learning is being perceived as a viable alternative nowadays when colleges have been forced to close their campuses and online classroom study has become an option.
             <br><br> However, there is a severe lack of infrastructure, information and understanding of distance learning courses.</h4></div>
       </div>  
        <div class="card-body bg-light">
            <h2 style="text-align:left;"> EXAMINATION FORM FILLING: WINTER-2020 RE-EXAMINATIONS </h2> <br>
            <p style="text-align:left;"> Date: - 17/03/2021 </p>
            <p style="text-align:left;"> All the students who could not appear for Winter 2020 examinations due to
                various reasons
                will have their examination (Online MCQ) from 03rd May 2021. </p>
            <p style="text-align:left;"> The students who have not filled Examination form of Winter 2020 examination
                should fill
                the examination form on or before 31st March 2021. </p>
            <p style="text-align:left;"> The following procedure will be followed to fill the Winter 2020 Examination
                Form filling and submission:- </p>

            <a href="Download Blank Examination Form">
                <p style="text-align:left"> Download Blank Examination Form </p>
            </a>
            <p style="text-align:left;"> 1. Fill all details in Examination Form correctly. <br>

                2. MBA 2nd and BBA 3rd year students should write specialization correctly along with subjects (refer
                syllabus copy). <br>

                3. Subjects to be written in full form (refer syllabus copy).. <br>

                4. Scan the filled examination form, undertaking, all previous examination mark-sheets, in single PDF
                file and send on email: <br> </p>
            <a href="Download Blank Examination Form">
                <p style="text-align:left"> Download Blank Examination Form </p>
            </a>

            <p style="text-align:left">6. The IMED examination department staff will call you for payment of examination
                fees. <br>

                7. You will pay examination fees by NEFT from your bank to<br>

                BVDU, School of Distance Education<br>

                Account No. 020002300020565<br>

                IFSC Code : SVCB0010020<br>

                Account Type: Saving Account<br>

                Bharati Sahakari Bank Ltd., Erandwane, Kothrud Branch, Pune-411038.<br>

                8. After payment of fees send the payment receipt/challan/copy (write on it: your name, program,
                semester, PRN, mobile number, email Id.) </p>
            <p style="text-align:left"> to email: <a href=" imedsdepune@gmail.com"> imedsdepune@gmail.com</a> </p>
            <p> After doing all the valid process submit the examination fees to: <a
                    href="https://www.bharatividyapeethfees.com/"> https://www.bharatividyapeethfees.com </a></p> <br>
            <h6 style="text-align:left"> Note: The students who already submitted exam form and appearing for the
                examination started from 10th March 2021 should ignore
                the above form filling notice.</h6> <br>
            <h5 style="text-align:left"> Dr. Nilesh Mate </h5> <br>
            <p> -------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </p> <br>
            <p style="text-align:left"> Date: 13.03.2021 </p> <br>
            <p style="text-align:center"> Notice: Google form for Students faced Technical Difficulties during Online
                Exam - Winter 2020 </p>
            <p style="text-align:left"> Dear Students, <br> </p>
            <p style="text-align:left"> The students who have faced technical difficulties/ error/problem during online
                Exam - Winter 2020 should
                fill the following google form and submit.</p>
            <p style="text-align:left">Google Form link:- <a href=" https://forms.gle/giG94Nv5EGTzgSPq8 ">
                    https://forms.gle/giG94Nv5EGTzgSPq8 </a></p>
            <p style="text-align:left"> Fill the google form for examinations of 10th, 11th, 12th march 2021 (if any)
                and now onwards
                fill the google form on same day if faced technical difficulty. </p>
            <p>---------------------------------------------------------------------------------------------------------------------------------------------------------------------
            </p>
        </div>
    </div>
</div>




<!-- <div class="container foot"> 
      <div class="card fo">
        <div class="col-sm"> </div>
    <div class="row">  
        <div class="col-sm vertical"> 
         <h1 style="text-align: center;">SFiTY INDIA</h1><br>
		 <p>We create posibilities</p>
		 <p>for the connected world</p>
		 <h3>Be Bold</h3>
      </div>
      <div class="col-sm ver">
            <h1 style="text-align: center;">Explore</h1>
            <dt style="text-align: center;">Home</dt><br/>
            <dt style="text-align: center;">About</dt><br/>
            <dt style="text-align: center;">Capability</dt><br/>
            <dt style="text-align: center;">Career</dt>
      </div>
      <div class="col-sm v">
            <h1 style="text-align: center;">Follow</h1>
            <dt style="text-align: center;">Instagram</dt><br/>
            <dt style="text-align: center;">Twiter</dt><br/>
            <dt style="text-align: center;">Linkedin</dt>  
      </div>
      <div class="col-sm">
        <h1 dt style="text-align: center;">Legal</h1>
            <dt style="text-align: center;">Term & Condition</dt><br/>
            <dt style="text-align: center;">Privacy</dt>   
      </div>
    </div>
  </div> -->

  