<div class="container">
    <div class="card">
        <div class="card-header bg-dark" style="width: 18rem;" style="text-align:center; color:black;">
            <ul class=" card-body bg dark list-group list-group-flush">
                <li class="list-group-item">SUBJECTS<br>
                     <h6 style="text-align: left;"> BCA-I </h6>
                     <a routerLink="/c"><p style=" text-align: left;color: blueviolet;"> C Programming</p></a>
                     <a routerLink="/algebra"><p style="text-align: left;color: blueviolet;">Introductory Algebra</p></a>
                     <a routerLink="/mf"><p style=" text-align: left;color: blueviolet;"> Management Function </p></a>
                     <a routerLink="/clab"><p style=" text-align: left;color: blueviolet;"> C Programming Lab </p></a>
                     <a routerLink="/dbms"><p style=" text-align: left;color: blueviolet;"> Database Management Systems</p></a> <br>

                     <h6 style="text-align: left;"> BCA-II </h6>
                     <a routerLink="/os"><p style="text-align: left;color: blueviolet;"> Operating Systems </p></a>
                     <a routerLink="/cn"><p style="text-align: left;color: blueviolet;"> Computer Networks </p></a>
                     <a routerLink="/ds"><p style="text-align: left;color: blueviolet;"> Data Structures </p></a>
                     <a routerLink="/dslab"><p style="text-align: left;color: blueviolet;"> Data Structures Lab </p></a> <br>

                     <h6 style="text-align: left;"> BCA-III </h6>
                     <a routerLink="/se"><p style="text-align: left;color: blueviolet;"> Software Engineering </p></a>
                     <a routerLink="/ooad"><p style="text-align: left;color: blueviolet;"> Object Oriented Programming Using C++ </p></a>
                     <a routerLink="/java"><p style="text-align: left;color: blueviolet;"> Programming In Java </p></a>
                     <a routerLink="/javalab"><p style="text-align: left;color: blueviolet;"> Java Programming Lab </p></a> <br>

                     <h6 style="text-align: left;"> BCA-IV </h6>
                     <a routerLink="/oracle"><p style="text-align: left;color: blueviolet;"> Oracle </p></a>
                     <a routerLink="/ooad"><p style="text-align: left;color: blueviolet;"> OOAD Using UML </p></a>
                     <a routerLink="/cloud"><p style="text-align: left;color: blueviolet;"> Cloud Computing </p></a>
                     <a routerLink="/ca"><p style="text-align: left;color: blueviolet;"> Computer Architecture </p></a>
                     <a routerLink="/oraclelab"><p style="text-align: left;color: blueviolet;"> Oracle Lab</p></a> <br>

                     <h6 style="text-align: left;"> BCA-V </h6>
                     <a routerLink="/python">><p style="text-align: left;color: blueviolet;"> Python Programming </p></a>
                     <a routerLink="/multimedia"><p style="text-align: left;color: blueviolet;"> Multimedia Applications </p></a>
                     <a routerLink="/project1"><p style="text-align: left;color: blueviolet;"> Project </p></a>
                     <a routerLink="/web"><p style="text-align: left;color: blueviolet;"> Web Technology Lab</p></a>
                     <a routerLink="/pythonlab"><p style="text-align: left;color: blueviolet;"> Python Programming Lab </p></a> <br>

                     <h6 style="text-align: left;"> BCA-VI </h6>
                     <a routerLink="/linux"><p style="text-align: left;color: blueviolet;"> Linux </p></a>
                     <a routerLink="/sad"><p style="text-align: left;color: blueviolet;"> System Analysis and Design </p></a>
                     <a routerLink="/rlan"><p style="text-align: left;color: blueviolet;"> R Language</p></a>
                     <a routerLink="/project2"><p style="text-align: left;color: blueviolet;"> Project </p></a>
                     <a routerLink="/linuxlab"><p style="text-align: left;color: blueviolet;"> Linux Lab </p></a>

                </li>
                <li class="list-group-item">TIME TABLE
                    
                </li>
                <li class="list-group-item">ONLINE LECTURE CONTENTS</li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="container">
    <li>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem">
                <a class="dropdown-item" routerLink="/bca">
                    BCA </a>
                <a class="dropdown-item" routerLink="/bcaI"> BCA-I</a>
                <a class="dropdown-item" routerLink="/bcaII"> BCA-II</a>
                <a class="dropdown-item" routerLink="/bcaIII"> BCA-III</a>
                <a class="dropdown-item" routerLink="/bcaIV"> BCA-IV</a>
                <a class="dropdown-item" routerLink="/bcaV"> BCA-V</a>
                <a class="dropdown-item" routerLink="/bcaVI"> BCA-VI</a>

            </li>
        </ul>
    </li>
</div> -->