<div class="container">
    <div class="card">
        <div class="card-header bg-dark" style="width: 18rem;" style="text-align:center; color:black;">
            <ul class=" card-body bg dark list-group list-group-flush">
                <li class="list-group-item">SUBJECTS<br>
                    <h6 style="text-align: left;"> MCA-I </h6>
                    <a routerLink="/cprog">
                        <p style=" text-align: left;color: blueviolet;"> C Programming</p>
                    </a>
                    <a routerLink="/coa">
                        <p style="text-align: left;color: blueviolet;">Computer Organization and Architecture</p>
                    </a>
                    <a routerLink="/discretestruc">
                        <p style=" text-align: left;color: blueviolet;"> Discrete Structures </p>
                    </a>
                    <a routerLink="/mfun">
                        <p style=" text-align: left;color: blueviolet;"> Management Function </p>
                    </a>
                    <a routerLink="/databasems">
                        <p style=" text-align: left;color: blueviolet;"> Database Management Systems</p>
                    </a> 
                    <a routerLink="/cplab">
                        <p style=" text-align: left;color: blueviolet;"> C Programming Lab </p>
                    </a> 
                    <a routerLink="/wst">
                        <p style=" text-align: left;color: blueviolet;"> Web Supporting Technology</p>
                    </a>
                    <a routerLink="/sk">
                        <p style=" text-align: left;color: blueviolet;"> Soft Skill</p>
                    </a>
                    <a routerLink="/sl1">
                        <p style=" text-align: left;color: blueviolet;"> Self Learning</p>
                    </a><br>
                </li>
                <li class="list-group-item">SUBJECTS<br>
                    <h6 style="text-align: left;"> MCA-II </h6>
                    <a routerLink="/mdsa">
                        <p style=" text-align: left;color: blueviolet;"> Data Structure Algoritms</p>
                    </a>
                    <a routerLink="/mos">
                        <p style="text-align: left;color: blueviolet;">Operating System</p>
                    </a>
                    <a routerLink="/mse">
                        <p style=" text-align: left;color: blueviolet;"> Software Engineering </p>
                    </a>
                    <a routerLink="/st">
                        <p style=" text-align: left;color: blueviolet;"> Statistical Techniques </p>
                    </a>
                    <a routerLink="/fa">
                        <p style=" text-align: left;color: blueviolet;"> Finantical Accounting</p>
                    </a> 
                    <a routerLink="/databasesmlab">
                        <p style=" text-align: left;color: blueviolet;"> Database Management System Lab </p>
                    </a> 
                    <a routerLink="/mdslab">
                        <p style=" text-align: left;color: blueviolet;"> Data Structure Lab</p>
                    </a>
                    <a routerLink="/project1">
                        <p style=" text-align: left;color: blueviolet;"> Project-1</p>
                    </a>
                    <a routerLink="/sl2">
                        <p style=" text-align: left;color: blueviolet;"> Self Learning-2</p>
                    </a><br>
                </li>
                <li class="list-group-item">SUBJECTS<br>
                    <h6 style="text-align: left;"> MCA-III </h6>
                    <a routerLink="/mdsa">
                        <p style=" text-align: left;color: blueviolet;"> Arificial Intelligency</p>
                    </a>
                    <a routerLink="/mos">
                        <p style="text-align: left;color: blueviolet;"> Computer Network</p>
                    </a>
                    <a routerLink="/mse">
                        <p style=" text-align: left;color: blueviolet;"> Object Oriented Analysis and Design </p>
                    </a>
                    <a routerLink="/st">
                        <p style=" text-align: left;color: blueviolet;"> Probability and Graph Theory </p>
                    </a>
                    <a routerLink="/fa">
                        <p style=" text-align: left;color: blueviolet;"> Organizational Behaviour</p>
                    </a> 
                    <a routerLink="/databasesmlab">
                        <p style=" text-align: left;color: blueviolet;"> Object Oriented Programming </p>
                    </a> 
                    <a routerLink="/mdslab">
                        <p style=" text-align: left;color: blueviolet;"> Object Oriented Programming Lab</p>
                    </a>
                    <a routerLink="/project1">
                        <p style=" text-align: left;color: blueviolet;"> Project-2</p>
                    </a>
                    <a routerLink="/sl2">
                        <p style=" text-align: left;color: blueviolet;"> Self Learning-3</p>
                    </a><br>
                </li>
                <li class="list-group-item">SUBJECTS<br>
                    <h6 style="text-align: left;"> MCA-IV</h6>
                    <a routerLink="/mdsa">
                        <p style=" text-align: left;color: blueviolet;"> Data Warehouse and Data Mining</p>
                    </a>
                    <a routerLink="/mos">
                        <p style="text-align: left;color: blueviolet;">Information Security</p>
                    </a>
                    <a routerLink="/mse">
                        <p style=" text-align: left;color: blueviolet;"> Design Patterns </p>
                    </a>
                    <a routerLink="/st">
                        <p style=" text-align: left;color: blueviolet;"> Elective-1 </p>
                    </a>
                    <a routerLink="/fa">
                        <p style=" text-align: left;color: blueviolet;"> Elective-2</p>
                    </a> 
                    <a routerLink="/databasesmlab">
                        <p style=" text-align: left;color: blueviolet;"> Lab Elective-1 </p>
                    </a> 
                    <a routerLink="/mdslab">
                        <p style=" text-align: left;color: blueviolet;"> Linux Lab</p>
                    </a>
                    <a routerLink="/project1">
                        <p style=" text-align: left;color: blueviolet;"> Project-3</p>
                    </a>
                    <a routerLink="/sl2">
                        <p style=" text-align: left;color: blueviolet;"> Self Learning-4</p>
                    </a><br>
                </li>
                <li class="list-group-item">SUBJECTS<br>
                    <h6 style="text-align: left;"> MCA-V </h6>
                    <a routerLink="/mdsa">
                        <p style=" text-align: left;color: blueviolet;"> Data Science</p>
                    </a>
                    <a routerLink="/mos">
                        <p style="text-align: left;color: blueviolet;">Optimization Techniques</p>
                    </a>
                    <a routerLink="/mse">
                        <p style=" text-align: left;color: blueviolet;"> Software Project Management </p>
                    </a>
                    <a routerLink="/st">
                        <p style=" text-align: left;color: blueviolet;"> Elective-3 (Weka) </p>
                    </a>
                    <a routerLink="/fa">
                        <p style=" text-align: left;color: blueviolet;"> Elective-4 (Statistical Computing)</p>
                    </a> 
                    <a routerLink="/databasesmlab">
                        <p style=" text-align: left;color: blueviolet;"> Lab Elective -2</p>
                    </a> 
                    <a routerLink="/mdslab">
                        <p style=" text-align: left;color: blueviolet;"> Lab on Current Trends</p>
                    </a>
                    <a routerLink="/project1">
                        <p style=" text-align: left;color: blueviolet;"> Project-4</p>
                    </a>
                    <a routerLink="/sl2">
                        <p style=" text-align: left;color: blueviolet;"> Self Learning-5</p>
                    </a><br>
                </li>
                <li class="list-group-item">SUBJECTS<br>
                    <h6 style="text-align: left;"> MCA-VI</h6>
                    <a routerLink="/sl2">
                        <p style=" text-align: left;color: blueviolet;"> Project Internship</p>
                    </a><br> <br>
                </li>
            </ul>
        </div>
    </div>
</div>