.image{
    /* height:40em;  */
    min-height: 650px;
    background-size:cover; 
    width:auto;
    background-image:url('../assets/image/app-background.jpg');
    background-position:fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .8;
  }