<div class="container bg-dark" >
    <div class="row">
        <div class="col-sm" >
            <div class="card" style="width: 18rem;">
                <a href="/sem1">
                <div class="card-body">
                    <h5 class="card-title">MCA SEM-1</h5>
                </div>
            </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem2">
                    <div class="card-body">
                        <h5 class="card-title">MCA SEM-2</h5>
                    
                    </div>
                </a>
            </div>

        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem3">
                <div class="card-body">
                    <h5 class="card-title">MCA SEM-3</h5>
                </div>
            </a>   
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem4">
                <div class="card-body">
                    <h5 class="card-title">MCA SEM-4</h5>
                </div>
            </a>  
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem5">
                    <div class="card-body">
                        <h5 class="card-title">MCA SEM-5</h5>
                    </div>
                </a>
            </div>

        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="/sem6">
                <div class="card-body">
                    <h5 class="card-title">MCA SEM-6</h5>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
