<div class="container">
    <div class="card">
        <div class="card-header bg-primary" style="text-align:center; color:palegoldenrod;">
            ASSIGNMENT SUBMISSION (WINTER 2020 EXAM)
        </div>
        <div class="card-body bg-light">
            <h5 class="card-title" style="text-align: center;">Notice: Submission of Assignments</h5>
            <p style="text-align: right;">Date: 11.01.2021 </p>
            <p class="card-text">The students who have unable to upload the assignments in the earlier link due to some
                technical problem,
                should submit the assignments for their respective program to following link: <br> <br>
                <a href="https://forms.gle/48hh36Zdk8tREVsSA">
                    https://forms.gle/48hh36Zdk8tREVsSA</a>
            </p>
            <p>Last date for submission of assignments on above link will be 15th January 2021. <br>

                The students who had already submitted assignments successfully on earlier link should not submit the
                assignments again.
            </p>
            <!-- <p>------------------------------------------------------------------------------------------------------------------------------------------------------------

            </p> -->
            <a href="#" class="btn btn-primary">Go somewhere</a> 
        </div>
    </div>
</div>