<div class="container">
    <div class="card">
        <div class="card-header bg-dark" style="width: 18rem;" style="text-align:center; color:white">
            <ul class=" card-body list-group list-group-flush">
                <h3 style="text-align: center;"> MID TERM (MCA SEM-2)</h3> 
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Data Stucture and Algorithm</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Operating System</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li><li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Software Engineering</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Statistical Techniques</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;">  Finanticial Accounting</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Database Management System Lab</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Data Structures Lab</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Project-1</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
                <li class="list-group-item">
                    <p style=" text-align: center;color: orangered;"> Self Learning-2</p>
                    <angular-file-uploader [config]="afuConfig">
                    </angular-file-uploader><br><br>
                </li>
            </ul>
        </div>
    </div>
</div>

