<div class="container">
    <div class="card">
        <!-- <div class="card-header"> -->
        <div class="card-header bg-success" style="text-align:center; color:white;">
            ADMISSION NOTICE
        </div>
    </div>
    <div class="card-body bg-light">
        <h5 class="card-title" style="text-align: center;">Student List: Admission to II and III Year</h5>
        <p style="text-align: right;"> Date:23.10.2020 </p>
        <p class="card-text">Dear Students, </p>
        <p>The list of students who had paid the fees for II or III year of their respective programmes is enclosed
            here with. 
            The students who paid the fees should check their name in the list. <br><br>
            <a href="List of Students II_III Year Fee Received_July 2020 session">
                List of Students II_III Year Fee Received_July 2020 session</a><br><br>
            The students who had paid the fees but their name is not appeared in the above
            list should fill the google form and upload the payment receipt/challan/screenshot in the google form:
            <br><br>
            <a href="https://forms.gle/QBGhXiCuwWHRb4xdA">https://forms.gle/QBGhXiCuwWHRb4xdA</a>
        </p>
        <p>---------------------------------------------------------------------------------------------------------------------------------------------------------
        </p> 
        <p style="text-align: right;"> Date:11.02.2020 </p>
        <h6>Admission to II Year</h6>
        <p>Dear Students, </p>
        <p>Admissions to II year of MBA, MBA HR, E-MBA, BBA, BCA, MCA are started. 
            You should complete the admission process on or before 28th February 2020. </p>
            <h6>Here is the link of Bharati Vidyapeeth fees site: <a href="https://www.bharatividyapeethfees.com/"> https://www.bharatividyapeethfees.com</a></h6> <br>
           <p> For  any details contact to SDE IMED, Pune.       
        </p> 
        <p>------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <h6 style="color: red;"> For any further information, click here:<a href="https://imed.bharatividyapeeth.edu/index.php/imed-admission-course-enquiry"> 
            Click here to the FAQs regarding Admissions 2018-19 </a> </h6>
         <p>------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> 
        </div>
    <!-- </div> -->
</div>
